*{
    color: white;
}


.menu-container{
    max-width: 1400px;
    margin: 0 auto;
}


header{
    width: 100%;
    height: 1780px;
    /* border: 1px solid; */
}

nav{
    background: rgb(98, 210, 232);
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 10%;
    /* border: 1px solid; */
}
.hero{
    padding-top: 100px;
    background: rgb(98, 210, 232);
    height: 1200px;padding-bottom: 100px;
    /* margin-top:50px; */
}

input{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    height: 50px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
}

.btn1{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
}

.logo{
    width: 150px;
    position: absolute;
    margin-top: 230px;
}

.korzinka{
    border: none;
    background-color: rgb(0, 255, 38);
    margin-left: 200px;
    border-radius: 10px;
}

.korzinka:hover{
    width: 58px;
}

select{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    cursor: pointer;
    height: 50px;
}

.drinks{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    height: 50px;
}
.foods{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    margin-left: 100px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    height: 50px;
}
.sweets{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    margin-left: 15
    px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    height: 50px;
}
.cheap{
    margin-left: 70px;
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    margin-left: 15
    px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    height: 50px;
}
.exspensive{
    border: none;
    background-color: rgb(0, 255, 38);
    border-radius: 15px;
    margin-left: 15
    px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    height: 50px;
}

.hero{
    width: 100%;
    height: 90%;
}


.box{
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    /* border: 1px solid; */
    /* border-radius: 35px; */
    row-gap: 50px;
    column-gap: 250px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    text-align: center;
    border-radius: 45px;
}

.buy{
    padding: 10px;
    box-shadow: rgb(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    border-radius: 25px;
    background-color: rgb(21, 255, 0);
    color: white;
    border: none;
}


.card{
    width: 350px;
    height: 450px;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img{
    border-radius: 25px;
}


.menu-korzinka{
    width: 1400px;
    height: 800px;
    border: 1px solid;
}
.extra{
    
    /* display: block; 
    */
    visibility: visible !important;
}


.modalkorzinka{
    text-align: center;
    /* margin-right: -200px; */
    position: fixed;
    top: 20%;
    width: 1000px;
    height: 90vh;
    background: rgb(31, 145, 109);
    visibility: hidden;
    /* border: 1px solid; */
    border-radius: 15px;
    z-index: 1;
    box-shadow: rgb(5, 5, 4, 1) 2.4px 2.4px 3.2px;
    color: white;
}

.remove{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
}

/* .modalkorzinka.extra{

} */